.logobazar {
    max-width: 20%;
    max-height: 20%;
    min-width: 120px;
    min-height: 70px;
    padding-right: 15px;
}

.logoCarrito {
    max-width: 8%;
    max-height: 8%;
    min-width: 100px;
    min-height: 50px;
    padding-left: 5px;
}